.image {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-left: 10px;
}
.replyContainer {
  display: flex;
  padding-top: 10px;
}
.repliesContainer {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid rgba(15, 70, 100, 0.12);
}
.repliesContainer:hover {
  background-color: #f5f8fa;
}
.nameSpace {
  display: flex;
  flex-direction: row !important;
  justify-content: start !important;
  margin: 16px 0px 0px 10px;
}
.nameSpace h6:first-child {
  color: black;
  font-weight: bold;
}
.replyContext {
  margin: 10px 0px 0px 10px;
}
.spacer {
  margin: 0px 3px 0px 3px;
}
